
/characterRecorder_4/bin/data/recordings
/characterRecorder_4/bin/data/movies
/characterRecorder_4/obj
/ofMilkscanner/obj
/ofMilkscanner/build
/msbKinect/obj
/msbMilkscanner/obj
/msbMilkscanner/build
/msbCharacterRecorder/obj
/msbCharacterRecorder/bin/data/recordings
/msbCharacterRecorder/bin/data/movies
/msbToolsTemplate/obj